@media screen and (max-width:767px) {
    .navbar {
        padding: 5px 1px;
    }

    main {
        margin-top: 70px;
    }

    .navbar-toggler-icon {
        font-size: 10px;
    }

    .banner-wrapper {
        height: 15vh;
    }

    .banner-img {
        height: 15vh;
        border-radius: 10px;
    }

    .banner-text {
        padding: 10px 20px;
        border-radius: 10px;
    }

    .banner-text h1 {
        font-size: 15px;
        font-weight: 700;
        margin: 0;
        padding: 0;
    }

    .banner-text p {
        font-size: 10px;
        margin: 0;
        padding: 0;
    }

    .bs-heading h1 {
        font-size: 22px;
        margin: 0;
        padding: 0;
        font-weight: 700;

    }
    .fl-p{
        font-size: 10px;
    }
    .fl-list p{
        font-size: 12px;
    }
}