@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    font-family: "Nunito", sans-serif;
}

:root{
    --primary:#137fec;
    --bg-primary:#e7f2fd;
    --bg-secondary:#f1f5f9;
}

main{
    margin-top: 100px;
}
.navbar-brand-logo{
    color: var(--primary);
    background-color: var(--bg-primary);
    padding: 4px 8px;
    border-radius: 10px;
}
.navbar{
    padding: 10px 25px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.164);
    backdrop-filter: blur(15px) saturate(150%);
    -webkit-backdrop-filter: blur(15px) saturate(150%);
    background-color: rgba(255, 255, 255, 0.13);
}
header ul li{
    font-weight: 600;
    font-size: 17px;
}
.cart-ti{
    background-color: var(--bg-secondary);
    padding: 5px 10px;
    border-radius: 10px;
    max-width: fit-content;
}
/* banner */
.banner-wrapper{
    position: relative;
    height: 55vh;
    border-radius: 20px;
    margin-top: 20px;
}
.banner-img{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.1)),
    url('img/unnamed.png');
    width: 100%;
    height: 55vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    z-index: 1;
    border-radius: 20px;
}
.banner-text{
    position:absolute;
    z-index: 10;
    left: 4%;
    bottom: 7%;
    backdrop-filter: blur(10px) saturate(200%);
    padding: 20px 40px;
    border-radius: 20px;
    color: white;
}
.banner-text h1{
    font-size: 25px;
    font-weight: 700;
}

/* best seller */
.bs-heading h1{
    font-size: 30px;
    margin: 0;
    padding: 0;
    font-weight: 700;
}
.bs-heading a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 700;
}
.bs-card{
    overflow: hidden;
    border-radius: 20px;
    inset: -20px;
}
.bs-card h1{
    font-size: 20px;
    font-weight: 700;
}
.bs-card p{
    font-size: 18px;
    font-weight: 600;
}
.bs-card a{
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: -10px;
    text-align: center;
}
.bs-card img:hover{
    transform:scale(1.1);
    transition: 0.3s;
}
.bs-card img{
    transition: 0.3s;
}
.footer-last{
    margin-top: -20px;
    margin-bottom: -20px;
}
footer{
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.13);
}
